<!DOCTYPE html>
<html lang="jp">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description"
		content="AWS認定ソリューションアーキテクトアソシエイト(AWS SAA) の模擬試験を無料で掲載しています。本試験レベルの難易度の問題を多数掲載しています。AWS認定資格の勉強に役立つので、練習問題や模擬試験、問題集を無料で学習したい方はぜひご活用ください。問題は全てSAA-C02版に対応しています。" />
	<meta name="author" content="Taito Jin" />
	<title>【SAA-C02 無料 模擬試験】AWS認定ソリューションアーキテクト-アソシエイト模擬試験</title>
	<!-- Bootstrap icons-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"
		type="text/css" />
	<link rel="icon" type="image/x-icon" href="./images/favicon.ico">
	<link rel="apple-touch-icon" sizes="180x180" href="./images/apple-touch-icon-180x180.png">
	<!-- Google fonts-->
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
		type="text/css" />
	<!-- Core theme CSS (includes Bootstrap)-->
	<link href="./stylesheets/style.css" rel="stylesheet" />
	<link type="text/css" rel="stylesheet" href="/stylesheets/style.css" />
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<script src="script.js" defer></script>
</head>

<body>
	<!-- Navigation-->
	<nav class="navbar navbar-light bg-nav static-top">
		<div class="container">
			<a class="navbar-brands" href="./index.html">AWS-SAA模擬試験</a>
			<div class="container-right">
				<a class="btn btn-aws" href="./descriptions.html">解説まとめ</a>
				<a class="btn btn-aws" href="./resultindex.html">履歴</a>
			</div>
		</div>
	</nav>
	<!-- Masthead-->
	<header class="masthead2">
		<div class="container position-relative">
			<div class="row justify-content-center">
				<div class="col-xl-6">
					<div class="text-white">
						<!-- Page heading-->
						<h1 class="teststyle">
							<%= name %>様
						</h1><br>
						<h5 id="version" class="teststyle" style="color: black">
							<%= content %>
						</h5>
						<a></a><br><br>
					</div>
				</div>
				<div class="col-xl-5" style="background: #ffffff; display: flex; flex-direction: column; height: 112px; border-radius: 6px; justify-content:flex-end; padding-left: 0; padding-right: 0;">
					<div style="text-align: center;">
						<p>AWS SAA 模擬試験(65問)  本番同等の難易度	</p>
					</div>
					<button class="checkoutbtn" style="height: 36px; background: #556cd6; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; color: white; border: 0; font-weight: 600; cursor: pointer; transition: all 0.2s ease; box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);" id="checkout">購入(stripe)</button>
				</div>
			</div>
		</div>
	</header>
	<!-- Footer-->
	<footer class="footer bg-light masthead2">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 h-100 text-center text-lg-center my-auto">
					<ul class="list-inline mb-2">
						<li class="list-inline-item"><a href="./about.html">About</a></li>
						<li class="list-inline-item">⋅</li>
						<li class="list-inline-item"><a href="./contact.html">Contact</a></li>
						<li class="list-inline-item">⋅</li>
						<li class="list-inline-item"><a href="./privacy.html">Privacy Policy</a></li>
						<li class="list-inline-item">⋅</li>
						<li class="list-inline-item"><a href="./user.html">User Policy</a></li>
						<li class="list-inline-item">⋅</li>
						<li class="list-inline-item"><a href="./information.html">Information</a></li>
					</ul>
					<p class="text-muted small mb-4 mb-lg-0">&copy; Jin 2021. All Rights Reserved.</p>
				</div>
			</div>
		</div>
	</footer>
</body>

</html>
